{% set showPartTitle = showPartTitle or chapterObject.data.showPartTitle %}
{% set currentPart = currentPart or chapterObject.data.currentPart %}
{% set chapter = chapter or chapterObject.data.chapter %}
{% set title = title or chapterObject.data.title %}

{% if showPartTitle %}
  <header class="part-header">
    <h2
      id="pt-{{ currentPart}}"
      >
      Part {{ currentPart }}.
    </h2>
    <p><em>{{ parts[currentPart].title }}</em></p>
  </header>
  <hr>
{% endif %}

<h3
  class="chapter-title"
  id="ch-{{ chapter }}-{{ title | slugify }}"
  >
  <strong>Chapter {{ chapter }}:</strong>
  {{ title }}
</h3>
