{% set showPartTitle = showPartTitle or chapterObject.data.showPartTitle %}
{% set currentPart = currentPart or chapterObject.data.currentPart %}
{% set chapter = chapter or chapterObject.data.chapter %}
{% set title = title or chapterObject.data.title %}

{% if showPartTitle %}
  <h2
    class="part-title"
    id="pt-{{ currentPart}}"
    >
    <strong>Part {{ currentPart }}.</strong>
    <span>{{ parts[currentPart].title | safe }}</span>
  </h2>
{% endif %}

<h3
  class="chapter-title"
  id="ch-{{ chapter }}-{{ title | slugify }}"
  >
  <strong>Chapter {{ chapter }}.</strong>
  <span>{{ title }}</span>
</h3>
