<article class="print-page page-toc">
  <h2 id="contents">Contents.</h2>

  <section>
    <header class="toc-header">
      <h3>Part I.</h3>
      <p><em>{{ parts['I'].title | safe }}</em></p>
    </header>
    <ol type="I">
      {% for chapter in collections.partOne %}
        {% include 'contents-item.njk' %}
      {% endfor %}
    </ol>
  </section>

  <section>
    <header class="toc-header">
      <h3>Part II.</h3>
      <p><em>{{ parts['II'].title | safe }}</em></p>
    </header>
    <ol type="I">
      {% for chapter in collections.partTwo %}
        {% include 'contents-item.njk' %}
      {% endfor %}
    </ol>
  </section>

</article>
