<article>
  <h2 id="contents">Contents</h2>

  <section>
    <header class="toc-header">
      <h3>Part I.</h3>
      <p>
        <i>{{ parts['I'].title }}</i>
      </p>
    </header>
    <ol type="I">
      {% for chapter in collections.partOne %}
        <li>
          <span>
            <a href="{{ chapter.page.url }}">
              {{ chapter.data.title }}
            </a>
          </span>
          <span class="print-only">
            <a href="#{{ chapter.page.url }}">
              <span class="u-hiddenVisually">Page </span>
            </a>
          </span>
        </li>
      {% endfor %}
    </ol>
  </section>

  <section>
    <header class="toc-header">
      <h3>Part II.</h3>
      <p>
        <i>{{ parts['I'].title }}</i>
      </p>
    </header>
    <ol type="I">
      {% for chapter in collections.partTwo %}
        <li>
          <span>
            <a href="{{ chapter.page.url }}">
              {{ chapter.data.title }}
            </a>
          </span>
          <span>
            <a href="#{{ chapter.page.url }}">
              <span class="u-hiddenVisually">Page </span>
            </a>
          </span>
        </li>
      {% endfor %}
    </ol>
  </section>

</article>
