<li>
  <span class="toc-item">
    <span class="toc-title">
      <a href="
        {%- if useJumpLinks -%}
          #ch-{{ chapter.data.chapter }}-{{ chapter.data.title | slugify }}
        {% else %}
          {{- chapter.page.url -}}
        {%- endif -%}">
        {{- chapter.data.title -}}
      </a>
    </span>
    <span class="toc-page print-only">
      <a href="
        {%- if useJumpLinks -%}
          #ch-{{ chapter.data.chapter }}-{{ chapter.data.title | slugify }}
        {% else %}
          {{- chapter.page.url -}}
        {%- endif -%}">
        <span class="u-hiddenVisually">Page </span>
      </a>
    </span>
  </span>
</li>
