<article class="print-page">
  <figure class="full-page-image">
    <img
      src="/images/frontispiece.png"
      alt="Illustration of Sherlock Holmes examining the word “Rache” on the wall with a magnifying glass."
      width="904"
      height="1489"
    >
    <figcaption>
      <p>“He examined with his glass the word upon the wall,<br class="print-only-inline"> going over every letter of it with the most minute exactness.”</p>
    </figcaption>
  </figure>
</article>
