<article class="print-page title-page">
  <h1 id="a-study-in-scarlet">A Study in Scarlet</h1>
  <p class="credits">By A. Conan Doyle</p>
  <p class="credits">With numerous original engravings by D.H. Friston.</p>
</article>
