<article class="print-page title-page">
  <h1 id="a-study-in-scarlet">{{ book.title }}</h1>
  <p class="credits">By {{ book.author }}</p>
  <p class="credits">With numerous original engravings by D.H. Friston.</p>
</article>
