<article class="new-page title-page">
  <h1 id="a-study-in-scarlet">{{ book.title }}</h1>
  <p class="p-initial is-centered">By {{ book.author }}</p>
  <p class="p-initial is-centered">With numerous original engravings by D.H. Friston.</p>
</article>
