<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if chapter %}Chapter {{ chapter }}: {% endif %}{{ title }}{% if title %}, {% endif %}A Study in Scarlet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/favicon.svg" color="black">
  <link rel="stylesheet" href="/style.css">
</head>
<body class="{{ body_class }}">
  {{ content | safe }}
</body>
</html>
