---
layout: layouts/base.njk
---

{% if showHeader %}
<header class="app-header" id="top">
  <p><em><a href="/">{{ book.title }}</a></em></p>
</header>
{% endif %}
<main class="app-main {{ main_class }}">
  {{ content | safe }}
</main>
<footer class="app-footer">
  {% if showNav %}
  <nav class="chapter-nav">
    <div class="chapter-nav__item chapter-nav__prev{% if not prev %} is-disabled{% endif %}">
      {% if prev %}
        <a class="chapter-nav__link" href="../{{ prev }}">Previous Chapter</a>
      {% else %}
        Previous Chapter
      {% endif %}
    </div>
    <div class="chapter-nav__item chapter-nav__toc">
      <a class="chapter-nav__link" href="/">Table of Contents</a>
    </div>
    <div class="chapter-nav__item chapter-nav__next{% if not next %} is-disabled{% endif %}">
      {% if next %}
        <a class="chapter-nav__link" href="../{{ next }}">Next Chapter</a>
      {% else %}
        Next Chapter
      {% endif %}
    </div>
  </nav>
  {% endif %}
  <div class="footer-content">
    <div class="footer-copyright">
      <p><i>{{ book.title }}</i> was originally published in 1886 and is now in the public domain.</p>
    </div>
  </div>
</footer>
