---
layout: layouts/screen.njk
showHeader: true
eleventyComputed:
  title: 'Part {{ currentPart }}'
---

<article>
  <h2>Contents</h2>
  <section>
    <header class="toc-header">
      <h3>Part I.</h3>
      <p><em>{{ parts['I'].title | safe }}</em></p>
    </header>
    <ol type="I">
      {% for chapter in collections.partOne %}
        {% include 'contents-item.njk' %}
      {% endfor %}
    </ol>
  </section>
</article>
