@media print {
  // Utility class to force a page break
  .new-page {
    page-break-before: always;
  }

  /**
   * Standard Page Layout
   *
   * 1. We're using some special DocRaptor CSS to inject page numbers
   *
   * @see https://docraptor.com/documentation/article/1067094-headers-footers-for-pdfs
   * @see https://docraptor.com/documentation/article/1082618-page-numbers
   */
  @page {
    margin: 0.75in;
    padding: 0;

    // Add book title to page header
    @top {
      content: 'A Study in Scarlet';
      font-family: Merriweather, serif;
      font-size: smaller;
      font-style: italic;
      margin-top: 1em;
    }

    // Add page numbers to page footer
    @bottom {
      content: counter(page); // 1
      font-family: Merriweather, serif;
      font-size: smaller;
      margin-bottom: 1em;
    }
  }

  /**
   * Named Pages with Modified Layouts
   *
   * 1. Set table of contents to page 0, so successive page numbers are correct
   * 2. Remove page header and footer
   */
  .page-toc {
    page: toc;
  }

  .title-page {
    page: title_page;
  }

  .page-frontispiece {
    page: frontispiece;
  }

  @page toc {
    counter-reset: page -1; // 1

    @top {
      content: none; // 2
    }

    @bottom {
      content: none; // 2
    }
  }

  @page title_page {
    @top {
      content: none; // 2
    }

    @bottom {
      content: none; // 2
    }
  }

  @page frontispiece {
    @top {
      content: none; // 2
    }

    @bottom {
      content: none; // 2
    }
  }
}

/**
 * Utility classes to hide elements from the screen, but show them when printed
 */
.print-only {
  display: none;

  @media print {
    display: block;
  }
}

.print-only-inline {
  display: none;

  @media print {
    display: inline;
  }
}
