/* this rule doesn't understand some print styles */
/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable selector-pseudo-element-no-unknown */

@media print {
  /*
		This is to ensure that each "page" in the CMS breaks to a new page in
		the PDF. What markup element it targets may need to change and it may
		belong in the pattern library.
	*/
  .print-page {
    page-break-before: always;
  }

  /* reduce default margins to more closely match source pdf */
  @page {
    margin: 0.75in;
    padding: 0;
  }

  /* add page numbers to footer, aligned to match source pdf */
  @page {
    @top {
      content: 'A Study in Scarlet';
      font-family: Merriweather, serif;
      font-size: smaller;
      font-style: italic;
      margin-top: 1em;
    }
    @bottom {
      content: counter(page);
      font-family: Merriweather, serif;
      font-size: smaller;
      margin-bottom: 1em;
    }
  }

  /* named pages */
  .title-page {
    page: title_page;
  }

  .page-frontispiece {
    page: frontispiece;
  }

  .page-toc {
    page: toc;
  }

  /* set TOC to page 0, so successive page numbers are correct */
  @page toc {
    counter-reset: page -1;
    @top {
      content: none;
    }
    @bottom {
      content: none;
    }
  }

  /* remove page numbers */
  @page title_page {
    @top {
      content: none;
    }
    @bottom {
      content: none;
    }
  }

  @page frontispiece {
    @top {
      content: none;
    }
    @bottom {
      content: none;
    }
  }
}
