:root {
  --color-bg: #fff;
  --color-fg: #333;
  --color-link: #34d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-fg: #e3e3e3;
    --color-link: #bb86fc;
  }
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

a {
  color: var(--color-link);
}

.is-disabled {
  opacity: 0.5;
}
