@import 'https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap';

:root {
  --color-bg: #fff;
  --color-fg: #333;
  --color-link: #34d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-fg: #e3e3e3;
    --color-link: #bb86fc;
  }
}

html {
  box-sizing: border-box;
  color-scheme: light dark;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 1.75;
  margin: 1em;
}

a {
  color: var(--color-link);
}

main {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 60ch;

  // text-align: justify;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  margin: 0.25em 0;
  text-indent: 2em;

  &:first-of-type {
    text-indent: 0;
  }
}

/**
 * Footnotes
 * 1. For print, we need the footnote to appear inline with the text, so it
 *    can be positioned at the bottom of the current page. For screen, we
 *    want to treat footnotes as endnotes, appearing at the end of the chapter.
 */
@media screen {
  main {
    display: flex; // 1
    flex-direction: column; // 1
  }

  .footnote {
    margin-top: 2em;
    order: 1; // 1
  }
}

.footnote {
  font-size: smaller;
  font-style: italic;
}

sup {
  bottom: 0.5em;
  position: relative;
  vertical-align: baseline;
}

.credits {
  margin: 1em 0;
  text-align: center;
  text-indent: 0;
}

.part-header {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  p {
    text-wrap: balance;
  }
}

.toc-header {
  text-align: left;

  h3 {
    margin-bottom: 0;
  }

  p {
    text-wrap: balance;
  }
}

em,
i {
  em,
  i {
    font-style: normal;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  text-wrap: balance;
}

.is-centered {
  text-align: center;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  text-align: center;
}

.chapter-title {
  text-align: center;

  strong {
    display: block;
  }
}

.chapter-nav {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin: 1em 0;
}

.chapter-nav__toc {
  text-align: center;
}

.chapter-nav__next {
  text-align: right;
}

.is-disabled {
  opacity: 0.5;
}

.footer-copyright {
  font-size: 0.8em;
  text-align: center;
}
