---
layout: "layouts/base.njk"
useJumpLinks: true
eleventyComputed:
  title: "{{ header.title }}"
---

{#
	This page contains all the pages in the site, for the purpose of generating
	a single PDF that we can add a table of contents and page numbers to.
#}
{% include 'title-page.njk' %}
{% include 'frontispiece.njk' %}
{% include 'contents.njk' %}

{% for chapterObject in collections.chapters %}
  <article class="print-page">
    {% include 'chapter-header.njk' %}
    {{ chapterObject.content | safe }}
  </article>
{% endfor %}
